!packs/_source/
dist/

# IDE
.idea/
.nova/
.vs/
.vscode/
*.code-workspace
*.iml
*.swp

# Node Modules
node_modules/

# OS Specific
.DS_Store

/docs
.claude
package-lock.json
jsconfig.json
*.zip
*.7z

# Kiro
task-*
test-*
verify-*
/.kiro*
/kiro-extras*
