.content-link, .inline-roll {
    background: $c-faint;
    border: 2px solid $c-dark;
    border-radius: 4px;
    color: $c-dark;
    margin: -1px 0;
    padding: 1px 4px 0;
    white-space: nowrap;
    word-break: break-all;
}


