// Stats Row - All abilities in one row (used in Features tab)
.stats-row {
  display: flex;
  justify-content: space-between;
  margin:10px 0 16px 0;
  padding-bottom: 12px;

  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    .stat-score {
      width: 50px;
      height: 45px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      padding: 4px;
      box-shadow: none;
    }

    .stat-label {
      font-size: 14px;
      font-weight: 900;
      text-transform: capitalize;
      color: var(--vagabond-c-tan);
      text-align: center;
      cursor: pointer;

      &:hover {
        color: var(--vagabond-c-dark);
      }
    }
  }
}
