:root {
  --vagabond-c-dark: #191813;
  --vagabond-c-faint: #c9c7b8;
  --vagabond-c-beige: #b5b3a4;
  --vagabond-c-tan: #444444;
  --vagabond-c-muted: #666666;
  --vagabond-c-white: #ffffff;
  --vagabond-c-black: #000000;
  --vagabond-c-groove: #eeede0;
  --vagabond-c-transparent: #ffffffc0;
}

.theme-dark {
  --vagabond-c-dark: #c9c7b8;
  --vagabond-c-faint: #191813;
  --vagabond-c-beige: #444444;
  --vagabond-c-tan: #b5b3a4;
  --vagabond-c-muted: #999999;
  --vagabond-c-white: #000000;
  --vagabond-c-black: #ffffff;
  --vagabond-c-groove: #11121f;
  --vagabond-c-transparent: #000000c0;
}

$c-white: var(--vagabond-c-white);
$c-black: var(--vagabond-c-black);

$c-dark: var(--vagabond-c-dark);
$c-faint: var(--vagabond-c-faint);
$c-beige: var(--vagabond-c-beige);
$c-tan: var(--vagabond-c-tan);
$c-muted: var(--vagabond-c-muted);

$c-groove: var(--vagabond-c-groove);