:root {
  --vagabond-c-dark: #1c1b18;
  --vagabond-c-lite: #e3e2dd;
  --vagabond-c-faint: #c9c7b8;
  --vagabond-c-beige: #b5b3a4;
  --vagabond-c-tan: #444444;
  --vagabond-c-tan-lite: #45454512;
  --vagabond-c-muted: #666666;
  --vagabond-c-white: #ffffff;
  --vagabond-c-black: #000000;
  --vagabond-c-groove: #eeede0;
  --vagabond-c-transparent: #ffffffc0;
  --vagabond-c-darkgray: #666666;
  --vagabond-c-red: #9d0000;
}

.theme-dark {
  --vagabond-c-dark: #cac9c2;
  --vagabond-c-lite: #21211f;
  --vagabond-c-faint: #191813;
  --vagabond-c-beige: #444444;
  --vagabond-c-tan: #b5b3a4;
  --vagabond-c-tan-lite: #b5b3a412;
  --vagabond-c-muted: #999999;
  --vagabond-c-white: #000000;
  --vagabond-c-black: #ffffff;
  --vagabond-c-groove: #11121f;
  --vagabond-c-transparent: #000000c0;
  --vagabond-c-darkgray: #999999;
  --vagabond-c-red: #c90000;
}

$c-white: var(--vagabond-c-white);
$c-black: var(--vagabond-c-black);
$c-red: var(--vagabond-c-red);

$c-dark: var(--vagabond-c-dark);
$c-lite: var(--vagabond-c-lite);
$c-faint: var(--vagabond-c-faint);
$c-beige: var(--vagabond-c-beige);
$c-tan: var(--vagabond-c-tan);
$c-tan-lite: var(--vagabond-c-tan-lite);
$c-muted: var(--vagabond-c-muted);
$c-darkgray: var(--vagabond-c-darkgray);
$c-transparent: var(--vagabond-c-transparent);
$c-groove: var(--vagabond-c-groove);