.window-app {
  font-family: $font-primary;
}

// Make application and header backgrounds transparent for Vagabond sheets
.vagabond.application {
  background: transparent !important;
  border: none !important;
  border-radius: 0% !important;
  box-shadow: none !important;
  height: calc(100vh - 150px) !important;
  overflow: visible !important;
}

.vagabond .window-header {
  background: transparent !important;
  position: relative;
  z-index: 10 !important;
}

// Add background color to window-content instead
.vagabond .window-content {
  background: $c-groove;
  position: relative;
  overflow: visible !important;
  height: 100%;
}

.rollable {
  &:hover,
  &:focus {
    color: $c-black;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}