<form class="vagabond-builder flexcol" autocomplete="off">
    {{> navigation}}

    <main class="builder-body">
        {{> sidebar}}

        <div class="right-column">
            {{> decision}}
            {{> tray}}
            <section class="content-zone {{#if useTripleColumn}}triple-column{{/if}}">
                {{> preview}}
                {{> reference}}
            </section>
        </div>
    </main>

    {{> footer}}
</form>
