<div class="vpd-wrapper">
  <div class="vpd-video-container">
    <video class="vpd-video" src="{{file}}" autoplay playsinline></video>
  </div>
  <footer class="vpd-footer">
    <button type="button" class="vpd-loop-btn" data-action="toggleLoop" title="{{localize 'VAGABOND.VideoPreview.ToggleLoopTooltip'}}">
      <i class="fas fa-repeat"></i> {{localize "VAGABOND.VideoPreview.Loop"}}
    </button>
  </footer>
</div>
